<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

*  Some of the popular languages that Data Scientists use are
*  Some of the commonly used libraries used by Data Scientists include
*  Data Science Tools

Some of the popular languages that Data Scientists use are :

In [1]:
ordered_list = ['Python','R','SQL','Java','Julia','Scala','C','C++','JavaScript']

Some of the commonly used libraries used by Data Scientists include :

In [3]:
ordered_list = ['NumPy','Pandas','Matplotlib','Seaborn','Plotly','cikit-Learn']

Data Science Tools

In [4]:
import pandas as pd

In [7]:
Data_Science_Tools = pd.DataFrame({'Data Science Tools':['Jupyter Notebook','RStudio','Visual Studio Code']})
Data_Science_Tools

   Data Science Tools
0    Jupyter Notebook
1             RStudio
2  Visual Studio Code

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [10]:
#This a simple arithmetic expression to mutiply then add integers
a = (3*4)+5
a

17

In [12]:
#This will convert 200 minutes to hours by diving by 60
min = 200
min_to_hour  =200/60
print (min,'minutes =', min_to_hour,'hours')

200 minutes = 3.3333333333333335 hours

<h2>Author</h2>

Mahamadou